# Enable URL rewriting
RewriteEngine On

# Set the base directory
RewriteBase /

# Prevent directory listing
Options -Indexes

# Exclude requests for actual files in public/www or public/upload directories
RewriteCond %{REQUEST_URI} ^/public/www/ [OR]
RewriteCond %{REQUEST_URI} ^/public/upload/
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Avoid redirecting requests already aimed at index.php
RewriteCond %{REQUEST_URI} !^/Bootstrap\.php
RewriteRule ^(.*)$ index.php [L]